<a href="https://colab.research.google.com/github/asakata0821/Aisa_INFO5731_-Fall2023/blob/main/Sakata_Aisa_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [110]:
import random

rng = random.Random()  #for generating random numbers

list = []   #empty list

for _ in range(12):    #generates 12 numbers in range of 1 to 100
    number = rng.randrange(1,100)
    list.append(number)    #add values in an empty list

#ascending ordered list
print(sorted(list))

#descending ordered list
print(sorted(list, reverse=True))

#calculates average of values in a list
average = sum(list) / len(list)
print(average)

[13, 42, 43, 52, 56, 59, 66, 70, 71, 78, 84, 90]
[90, 84, 78, 71, 70, 66, 59, 56, 52, 43, 42, 13]
60.333333333333336

# Question 2
(25 points).

Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [125]:
#Q(2)
#(1) Ask the user to enter two sentences.
#(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence.
# For example, if the sentence is "Alas! Am I alive? This is my first python program",
#the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].


import string

punctuation = string.punctuation

def splitting(sentence):
  for char in sentence:
      if char in punctuation:
          sentence = sentence.replace(char, ' ' + char + ' ')
  list = sentence.split()
  return list

sentence1 = input("Enter the first sentence: ")
sentence2 = input("Enter the second sentence: ")

list1 = splitting(sentence1)
list2 = splitting(sentence2)

print(list1)
print(list2)

Enter the first sentence: Alas! Am I alive? This is my first python program
Enter the second sentence:
['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']
[]

In [114]:
#(3) Compare the two sentences. Print out a list of words that occur in both sentences.
sentence1 = input("Enter the first sentence: ")
sentence2 = input("Enter the second sentence: ")

list1 = splitting(sentence1)
list2 = splitting(sentence2)

duplicates = []

for i in list1:
  for j in list2:
    if i == j:
      duplicates.append(i)

print(f"Duplicated words:{duplicates}")

Enter the first sentence: good morning
Enter the second sentence: good morning
Duplicated words:['good', 'morning']

In [116]:
#(4)
#Remove any punctuation from the sentence and print it back out.
#It should remove at least the following characters,
#but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)


sentence = input("Enter a sentence: ")
for i in sentence:
      if i in punctuation:
          sentence = sentence.replace(i, '')
print(sentence)

Enter a sentence: hello;:::.?!, Aisa desu
hello Aisa desu

In [107]:
#(5) Count the number of vowels in the sentences.
#Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

vowels = ['a', 'e', 'i', 'o', 'u']
counter = {vowel: 0 for vowel in vowels}

sentence = input("Enter a sentence: ")

for i in sentence:
    if i in vowels:
        counter[i] += 1


print(', '.join([f"{vowel}:{count}" for vowel, count in counter.items()]))

Enter a sentence: aisa sakata
a:5, e:0, i:1, o:0, u:0

# Question 3

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [117]:
import math   #to use pi

print("r   V")  #header

for r in range(1,11):
    v = 4/3 * math.pi * (r**3)
    print(f"{r}   {v:.2f}")

r   V
1   4.19
2   33.51
3   113.10
4   268.08
5   523.60
6   904.78
7   1436.76
8   2144.66
9   3053.63
10   4188.79

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [119]:
import pandas as pd

df = pd.read_csv("Assignment1_denton_housing.csv")
df

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [120]:
#Q(1)
#filtering by a specific title and sort by year in asc order
occupied_housing_units = df[df['title_field'] == "Occupied Housing Units"].sort_values(by = 'year')

#automatically calculates differnece between values
occupied_housing_units['difference'] = occupied_housing_units['value'].diff()

# drops NaN values
occupied_housing_units = occupied_housing_units.dropna()

# extractes only 'year' and 'difference' columns
result1 = occupied_housing_units[['year', 'difference']]

#header
print("Year    Difference")

for year, row in result1.iterrows():
    print(f"{int(row['year'])}-{int(row['year']) + 1}:  {int(row['difference'])}")

Year    Difference
2009-2010:  -795
2010-2011:  5091
2011-2012:  -303
2012-2013:  1404
2013-2014:  1565
2014-2015:  2622

In [121]:
#Q(2)
# filtering by specific titles
vacant = df[df['title_field']==("Vacant Housing Units")]
occupied = df[df['title_field']==("Occupied Housing Units")]

# calculates total numbers of vacant and occupied by year
total_vacant = vacant.groupby('year')['value'].sum()
total_occupied = occupied.groupby('year')['value'].sum()

# creates a new table for saving total num of vacant and occupied housing units
result2 = pd.DataFrame({'Vacant Housing Units': total_vacant, 'Occupied Housing Units': total_occupied})

# calculates the total housing units
total_units_by_year = result2['Vacant Housing Units'] + result2['Occupied Housing Units']

# calculates the percentages
result2['Vacant Housing Units'] = (result2['Vacant Housing Units'] / total_units_by_year) * 100
result2['Occupied Housing Units'] = (result2['Occupied Housing Units'] / total_units_by_year) * 100


print("Year  Vacant Housing Units  Occupied Housing Units")
for year, row in result2.iterrows():
    print(f"{year}    {round(row['Vacant Housing Units'])}%   {round(row['Occupied Housing Units'])}%")

Year  Vacant Housing Units  Occupied Housing Units
2008    11%   89%
2009    9%   91%
2010    8%   92%
2011    9%   91%
2012    7%   93%
2013    9%   91%
2014    6%   94%

In [129]:
#Q(3)
#Calculate and print the valued and years in which the highest number of housing units were vacant and occupied.
#Print the results in the following format:
#                          Year    Value
#Vacant Housing Units      -----   -----
#Occupied Housing Units    -----   -----


vacant_occupied = df[df['title_field'].isin(["Vacant Housing Units", "Occupied Housing Units"])]

result3 = vacant_occupied.loc[vacant_occupied.groupby('title_field')['value'].idxmax()]

result3 = result3.sort_values(by='year')

print("                          Year    Value")
for index, row in result3.iterrows():
    print(f"{row['title_field']:<24} {row['year']:>5}   {row['value']:>5}")

                          Year    Value
Vacant Housing Units      2008    4483
Occupied Housing Units    2014   46295

In [123]:
#Q(4)
#Calculate the harmonic mean of the total housing units and print it out.

# Assuming df is your DataFrame and 'value' is the column you want to append to a list
total_units = df['value'].tolist()

reciprocal_sum = sum(1 / num for num in total_units if num != 0)
result4 = len(total_units) / reciprocal_sum

print(f"The harmonic mean is {result4}")

The harmonic mean is 3657.434087880617